
@{
    ViewData["Title"] = "ProductDetail3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="img-container">
    <img src="https://cdn.tgdd.vn/Products/Images/44/309293/dell-inspiron-3520-i3-71003264-1.jpg" style="width: 30%;">
</div>
<table>
    <style type="text/css">
        td {
            width: 500px;
            height: auto;
        }
    </style>
<td style="vertical-align:top">
    <h4>Máy tính 3</h4>
    <p>Thương hiệu: Dell</p>
    <p>Giá sản phẩm: 1000.000vnđ</p>
    <p>Công nghệ CPU: Intel Core i3</p>
    <p>Độ phân giải: Full HD </p>
    <p>Ổ cứng: 256GB</p>
</td>
</table>
