
@{
    ViewData["Title"] = "ProductDetail2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="img-container">
    <img src="https://cdn.tgdd.vn/Products/Images/44/231244/Slider/apple-macbook-air-2020-mgn63saa638168474824219332.jpg" style="width: 30%;">
</div>
<table>
    <style type="text/css">
        td {
            width: 500px;
            height: auto;
        }
    </style>
<td style="vertical-align:top">
    <h4>Máy tính 2</h4>
    <p>Thương hiệu: Apple</p>
    <p>Giá sản phẩm: 1000.000vnđ</p>
    <p>Công nghệ CPU: Apple M1</p>
    <p>Độ phân giải: 13" Retina(2560x1600)</p>
    <p>Ổ cứng: 256GB</p>
</td>
</table>

